* {
    margin: 0;
    padding: 0;
    background-color: #a586449a;
    font-family: "Helvetica", "Arial", sans-serif;
}

.container {
    margin: auto;
    width: 74%;
    min-height: 100vh;
    
}

.img-logo {
    margin: 0;
    width: 38%;
    min-height: 100vh;
    float: left;
    position: relative;
    box-shadow: -4px 4px 8px 2px rgba(0, 0, 0, 0.25);
    
}

.img-logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.odin {
    height: 150px;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.7);
    position: absolute;
    top: 20.3%;
    text-align: center;
    
}

h4 {
    background-color: rgb(92, 131, 104);
    margin-top: 30px;
    padding: 15px;
    color: white;
    font-size: 50px;
    font-family: "Yeon Sung", "Arial";
}


.content {
    margin: 0;
    background-color: #f6f9fa;
    min-height: 100vh;
    width: 62%;
    overflow: hidden;
    position:relative;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.25);
    
}

.service,
p,
h3,
em {
    background-color: inherit;
}
p, h3 {
    font-size: 24px;
    color: rgb(48, 47, 47);
}
p {
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 5px;
    padding: 20px 160px 20px 40px;
}

h3 {
    padding-left: 40px;
    margin-bottom: 400px;
}

.form-content {
    margin: 0;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

form {
    background-color: inherit;
}

h1,
form > div,
input,
label,
.a,
.b,
.c,
.d,
.e,
.f,
span
{
    background-color: white;
}

h1 {
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 26px;
    color: rgb(48, 47, 47);
}

label {
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    color: rgb(99, 97, 97);
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "a b"
      "c d"
      "e f";
}



.a, .b, .c, .d, .e, .f {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 20px;

}
.b, .d, .f {
    margin-left: -60px;
}
input {
    height: 30px;
    width: 250px;
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 4px;
    background-color: #f4f6f7;

}

.btn-log, h2 {
    background-color: #f6f9fa;

}

button {
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: #596D48;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px solid black;
    border-radius: 8px;
    height: 50px;
    width: 230px;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-size: 18px;
    margin-left: 40px;
}

/* Pseudo-Classes */





input[type=password]:invalid {
    border: 1px solid red;
}

input:focus {
    border: 3px solid rgb(111, 155, 221);
}

button:hover {
    background-color: #445831;
    cursor: pointer;
}